* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: cadetblue;
    color: white;
}


div {
    display: flex;
    align-items: center ;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


li {
    display: inline;
    list-style-type: none;
    padding: 0;
}

#ying {
    border: 2px solid burlywood; 
    border-radius: 50%;
    box-shadow: 2px 2px 2px;

}

h1 {
    display: inline;
    font-size: 72px;
    margin: 10px;
}

#banner {
    display: inline-block;
    width: 1000px;
    height: 250px;
    opacity: 0.5;

}

.subtitle {
    display: inline;
    background-color: aqua;
    text-align:right;

}

main {
    width: 100%;
    display: inline-block;
    margin: 20px;
}

section {
    display: flex;
    align-items: center;
}

main h2 {
    border-right: 5px solid rgb(60, 12, 157);
    padding: 50px;
}

/* #work {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

.job .job1 {
    display: flex;
    justify-content: space-evenly;
    border: 5px solid rgb(17, 211, 211);
}

.job1 {
    display: inline-block;
    width: 1000px;
    height: 250px;
}



.job { 
    display: inline-block;
    width: 400px;
    height: 150px;

}

#contact-me ul {
    display:flex;
    
}

#contact-me ul li a {
    display: inline-block;
    padding: 20px;
    text-decoration: underline;
}

footer {
    color:gray;
    text-align: center;
}

