* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

/* header setting start */
header {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: cadetblue;
    color: white;
}

/* add some personal style to my pic */
#ying {
    border: 2px solid burlywood; 
    border-radius: 50%;
    box-shadow: 2px 2px 2px;
    margin: 10px;
}

/* use syntax left-header and right-header 
to divide the header into two sections */
header .left-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: aquamarine;
    padding: 30px;
}

header .right-header {
    display: flex;
    align-items: center ;
    justify-content: flex-end;
    width: 80%;

}

h1 {
    display: inline;
    font-size: 48px;
    margin: 10px;
    color: cadetblue;
}

header div ul {
    color:white;
    font-size: 48px;
}

header div ul li {
    padding: 20px;
}

header div ul li:hover {
    border: 2px solid burlywood; 
    border-radius: 50%;
    background-color: darkcyan;
}

header div ul li a {
    color: aquamarine;
    text-decoration: underline;
} /* header setting end */


/* navbar start from here */
/* style my navbar */
nav {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    background-image: url("./images/oil-painting.jpg"); 
    background-position: center;
    background-size: 100%;
    height: 300px;
}

.subtitle {
    padding: 20px;
    background-color: aquamarine;
    position: relative;
    top: -20px;
    left: -20px;
    font-size: 20px;
} /* navbar end*/


/* apply to all li */
li {
    display: inline;
    list-style-type: none;
    padding: 0;
}

/* the main start at here */
main {
    width: 100%;
    display: inline-block;
    padding: 20px;
}

section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* h2 style set up */
main h2 {
    padding-right: 27px;
    font-size: 48px;
    width: 200px;
    text-align:right;
    align-self: flex-start;
    color:darkcyan;

}

/* design the layout of main part */
.content {
    width: 100%;
    max-width: 80%;
    border-left: 5px solid darkcyan;
    padding-left: 50px;
    font-size: 30px;
}

/* section for work */
/* position the .card, .company into the right location for the layout */ 
.card {
    position: relative;
    border: 8px solid cadetblue;
    width: 50%;
    margin: 10px;
}

.card img {
    opacity: 0.5;
    transition: all;
}

/* add function to make it responsive when mouse is on top of the object */
.card img:hover {
    opacity: 1;
}

.company {
    background-color: cadetblue;
    position:absolute;
    bottom: 30px;
    padding: 15px;
    z-index: 1;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#card1 {
    width: 100%
}

.content-card {
    display: flex;
    margin-bottom: 10px;
}

.job { 
    display: block;
    width: 100%;
}


.job1  {
    display: block;
    width: 100%;
}

/* section for contact-me */
#contact-me ul {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    font-size: 32px;
}

#contact-me ul li {
    display: inline-block;
    padding: 40px;
    text-decoration: underline;
    color:  rgb(51, 85, 86);
}

#contact-me ul li a {
    text-decoration: underline;
    color:  rgb(51, 85, 86);
}

/* add function to make it responsive when mouse is on top of the object */
#contact-me ul li:hover {
    border: 2px solid burlywood; 
    border-radius: 50%;
    background-color: darkcyan;
} /* the main end */


/* add settings that the website will adapt the layout to user's viewport, 
base on their display size */
/* suitable for tablets screen */
@media screen and (max-width: 992px) {
    header {
        background-color: chocolate;
       
    }

    header div ul {
        font-size: 36px;

    }

    .left-header h1 {
        font-size: 36px;
    }

    section h2 {
        font-size: 36px;
    }

    .content {
        font-size: 24px;
    }

    .company {
        padding: 15px;
        font-size: 16px;
    }

    #contact-me div ul li a {
        font-size: 30px;
    }

  

    
}



/* suitable for Large smartphones */
@media screen and (max-width:768px) {
    header {
        background-color: cornsilk;

    }

    header div ul {
        font-size: 24px;

    }

    .left-header h1 {
        font-size: 24px;
    }

    .subtitle {
        font-size: 14px;
    }

    section h2 {
        font-size: 24px;
    }

    .content-card {
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
    }

    .company {
        bottom: 15px;
        padding: 10px;
        font-size: 14px;
    }

    .content {
        font-size: 18px;
    }

    #contact-me div ul li a {
        font-size: 24px;
    }
}



/* suitable for mall smartphones */
@media screen and (max-width: 576px) {
    header {
        background-color: rosybrown ;
        
    }

    header div ul {
        font-size: 18px;
    }

    .left-header h1 {
        font-size: 18px;
    }

    .subtitle {
        font-size: 12px;
    }

    section h2 {
        font-size: 18px;
    }

    .content {
        font-size: 14px;
    }

    #contact-me div ul li a {
        font-size: 18px;
    }

    
}

