* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width:100%;
    padding: 10px;
    background-color: cadetblue;
    color: white;
}

header nav {
    float:right;
}

li {
    display: inline;
    list-style-type: none;
}
#ying {
    padding:10px;
    border-radius: 20%;
    float: left;
}

h1 {
    padding-top: 15px;
    display: inline-block;
    font-size: 48px;
}

#banner {
    width: 2000px;
    height: 200px;
    position:relative;

}

.subtitle {
    float: inline-end;
}

.job {
    border: 5px solid rgb(17, 211, 211);
}

footer {
    color:gray;
    text-align: center;
}